@import 'utils/variables.css';
@import 'fonts.css';

body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-bg);
}

.container {
    max-width: var(--container);
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: "Crimson Pro", serif;
}

@media (max-width: 1400px) {
    .container {
        padding: 0 calc(var(--padblock) / 2);
    }
}