:root {
    --h1fz: 50px;
    --h1lh: 70px;
    --pfz: 24px;
    --plh: 30px;
    --padblock: 150px;
    --martext: 50px;
    --formheight: 50px;
    --container: 1200px;
    --headerheight: 200px;
}

body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: var(--container);
    margin: 0 auto;
}

.header {
    height: var(--headerheight);
    padding: calc(var(--padblock) / 3);
    width: 100%;
    background-color: #1F1F1F;
    display: flex;
    align-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}

.header__logo {
    height: 100%;
}

.logo__image {
    height: 100%;
}

.nav {
    /* nothing for now */
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Crimson Pro", serif;
}

.about {
    padding: calc(var(--headerheight) + var(--padblock) / 2) 0 var(--padblock);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

.about__head {
    font-size: var(--h1fz);
    line-height: var(--h1lh);
    font-weight: 400;
    font-style: normal;
}

.about_text {
    margin: var(--martext) 0;
    font-size: var(--pfz);
    line-height: var(--plh);
    font-weight: 400;
}

.about__footer {
    font-size: var(--pfz);
    line-height: var(--plh);
    font-weight: 700;
    font-style: italic;
}

.form {
    width: 100%;
    padding: var(--padblock) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.form__wrapper {
    width: 100%;
    padding: var(--padblock) / 2;
    margin: 0 auto;
}

.form__head {
    text-align: center;
    font-size: var(--h1fz);
    line-height: var(--plh);
    margin: 0 0 var(--martext);
    width: 100%;
}

.form__name {
    margin: var(--martext) 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--martext);
}

.form__text {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.form__input::placeholder {
    font-size: var(--pfz);
}

.form__input {
    flex-grow: 1;
    flex-basis: fill;
    margin: 0 0 20px;
    height: var(--formheight);
    background-color: #FAFAFA;

    padding: calc(var(--formheight) / 2) calc(var(--formheight) / 4);
    font-size: var(--pfz);
    border: 2px solid #C1C1C1;
}

.form__text .form__input {
    width: 100%;
}

.form__btn {
    align-self: start;
    font-size: var(--pfz);
    padding: calc(var(--formheight) / 2) calc(var(--formheight));
    color: #fff;
    background-color: #000;
}

.footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--padblock) calc(var(--padblock) / 2);
}

.footer__name {
    font-size: var(--pfz);
    flex: 33%;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: var(--martext);
    flex: 34%;
}

.footer__image {
    width: var(--pfz);
    height: var(--pfz);
}

.footer__image img {
    width: 100%;
    height: 100%;
}

.footer__email {
    font-size: var(--pfz);
    color: #000;
    text-decoration: underline;
    flex: 33%;
    display: flex;
    justify-content: flex-end;
}

.footer__email:hover {
    text-decoration: none;
}

@media (max-width: 1400px) {
    :root {
        --h1fz: 40px;
        --h1lh: 60px;
        --pfz: 20px;
        --plh: 26px;
        --padblock: 100px;
        --martext: 30px;
        --formheight: 40px;
        --headerheight: 100px;
    }

    .container {
        padding: 0 calc(var(--padblock) / 2);
    }

    .header {
        padding: 10px;
    }
}

@media (max-width: 1000px) {
    :root {
        --h1fz: 32px;
        --h1lh: 50px;
        --pfz: 18px;
        --plh: 22px;
        --padblock: 80px;
    }
}

@media (max-width: 900px) {

    .form__name {
        gap: 0;
    }

    .form__input {
        width: 100%;
    }
}

@media (max-width: 600px) {
    :root {
        --h1fz: 28px;
        --h1lh: 42px;
        --padblock: 50px;
        --headerheight: 90px;
    }
}

@media (max-width: 500px) {
    :root {
        --h1fz: 24px;
        --h1lh: 32px;
        --pfz: 16px;
        --plh: 22px;
        --padblock: 50px;
        --headerheight: 80px;
    }

    .form__btn {
        width: 100%;
    }

    .footer__socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 400px) {
    :root {
        --h1fz: 22px;
        --h1lh: 28px;
        --pfz: 14px;
        --plh: 20px;
        --padblock: 40px;
    }

    .form__btn {
        width: 100%;
    }
}